extends navbar

block content
  .container-fluid
    .row
      block search-box
      .col-lg-3
        .panel.panel-info
          .panel-heading
            div.panel-title Search Trains
          .panel-body(style="padding-top:30px")
            form(id='search-form',class='form-horizontal',role='form', action='/search_trains', method='post')
              div.form-group
                label.col-md-3.control-label(for="search-from") From Station
                .col-md-9
                  input.form-control(type="text",id='search-from', name="search_from", placeholder="From",required)
              div.form-group
                label.col-md-3.control-label(for="search-to") To Station
                .col-md-9
                  input.form-control(type="text",id='search-to', name="search_to", placeholder="To", required)
              div.form-group
                label.col-md-3.control-label(for="search-date") Journey Date
                .col-md-9
                  input.form-control(type="date",id='search-date', name="search_date", required)
              div.form-group
                .col-md-offset-3.col-md-9
                  button.btn.btn-primary#btn-search Search
      block home
      .col-lg-9
        h2 Welcome #{name}
        table.table.table-hover(style="margin-top:5%")
          tr
            td
              a(href='/cancel')
                h3 Cancel Ticket
            td
              a(href='/booked_history')
                h3 Booked Ticket History
          tr
            td
              a(href='/pnr')
                h3 Check PNR Status
            td
              a(href='#',data-toggle="modal",data-target="#add-money-modal")
                h3 Add money to wallet