extends layout

block content
    .container
        div.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2#loginbox(style='margin-top:50px;')
            .panel.panel-info
                .panel-heading
                    div.panel-title Sign In
                div.panel-body(style="padding-top:30px")
                    if locals.loginerrmsg
                        div.alert.alert-danger.col-sm-12#login-alert
                            p= loginerrmsg
                    form(id='login-form',class='form-horizontal',role='form', action='/login', method='post')
                        div.input-group(style="margin-bottom: 25px")
                            span.input-group-addon
                                i.glyphicon.glyphicon-user
                            input.form-control(id='login-username',type='text',name='username',placeholder='User ID')
                        div.input-group(style="margin-bottom: 25px")
                            span.input-group-addon
                                i.glyphicon.glyphicon-lock
                            input.form-control(id='login-password',type='password',name='password',placeholder='Password')
                        div.form-group(style="margin-top:10px")
                            .col-sm-12.controls
                                button.btn.btn-success(id='btn-login',type='submit',form='login-form',value='Submit') Login

                        div.form-group
                            .col-md-12.control
                                div(style="border-top: 1px solid#888; padding-top:15px; font-size:85%")
                                    p Don't have an account?
                                    a(href='#', onClick="$('#loginbox').hide(); $('#signupbox').show()") Sign Up Here

        div.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2#signupbox(style='display:none;margin-top:50px;')
            .panel.panel-info
                .panel-heading
                    div.panel-title Sign Up
                    div(style="float:right; font-size: 85%; position: relative; top:-10px")
                        a#signinlink(href='#',onclick="$('#signupbox').hide(); $('#loginbox').show()") Sign in
                .panel-body(style="padding-top:30px")
                    if locals.signuperrmsg
                        div.alert.alert-danger.col-sm-12#signup-alert
                            p= signuperrmsg
                    form(id='signup-form',class='form-horizontal',role='form')
                        div.form-group
                            label.col-md-3.control-label(for="signup-username") User ID
                            .col-md-9
                                input.form-control(type="text",id='signup-username', name="username", placeholder="User ID")
                        div.form-group
                            label.col-md-3.control-label(for="signup-firstname") First Name
                            .col-md-9
                                input.form-control(type="text",id='signup-firstname', name="firstname", placeholder="First Name")
                        div.form-group
                            label.col-md-3.control-label(for="signup-lastname") Last Name
                            .col-md-9
                                input.form-control(type="text",id='signup-lastname', name="lastname", placeholder="Last Name")
                        div.form-group
                            label.col-md-3.control-label(for="signup-mobile") Mobile No.
                            .col-md-9
                                input.form-control(type="tel",id='signup-mobile', name="mobile", placeholder="Mobile No.")
                        div.form-group
                            label.col-md-3.control-label(for="signup-password") Password
                            .col-md-9
                                input.form-control(type="password",id='signup-password', name="password", placeholder="Password")
                        div.form-group(style="border-top: 1px solid #999; padding-top:20px")
                            .col-md-offset-3.col-md-9
                                button.btn.btn-info#btn-signup Sign Up