extends layout

block content
    .container
        div.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2#loginbox(style='margin-top:50px;')
            .panel.panel-info
                .panel-heading
                    div.panel-title Sign In
                div.panel-body(style="padding-top:30px")
                    if locals.loginerrmsg && locals.loginerrmsg!=''
                        div.alert.alert-danger.col-sm-12#login-alert
                            p= loginerrmsg
                    form(id='login-form',class='form-horizontal',role='form', action='/login', method='post')
                        div.input-group(style="margin-bottom: 25px")
                            span.input-group-addon
                                i.glyphicon.glyphicon-user
                            input.form-control(id='login-username',type='text',name='username',placeholder='User ID')
                        div.input-group(style="margin-bottom: 25px")
                            span.input-group-addon
                                i.glyphicon.glyphicon-lock
                            input.form-control(id='login-password',type='password',name='password',placeholder='Password')
                        div.form-group(style="margin-top:10px")
                            .col-sm-12.controls
                                button.btn.btn-success(id='btn-login',type='submit',form='login-form',value='Submit') Login

                        div.form-group
                            .col-md-12.control
                                div(style="border-top: 1px solid#888; padding-top:15px; font-size:85%")
                                    p Don't have an account?
                                    a(href='signup/') Sign Up Here